
:root{

/* CSS HEX */
--apricot: #ffcdb2ff;
--melon: #ffb4a2ff;
--pastel-pink: #e5989bff;
--english-lavender: #b5838dff;
--old-lavender: #6d6875ff;


/* CSS HEX */
--rich-black-fogra-29: #001219ff;
--blue-sapphire: #005f73ff;
--viridian-green: #0a9396ff;
--middle-blue-green: #94d2bdff;
--medium-champagne: #e9d8a6ff;
--gamboge: #ee9b00ff;
--alloy-orange: #ca6702ff;
--rust: #bb3e03ff;
--rufous: #ae2012ff;
--ruby-red: #9b2226ff;

}


body{
    color: var(--old-lavender);
    background-color: var(--english-lavender);


}

header{
    padding: 30px 30px;
    background-color: var(--old-lavender);
  color: var(--melon);
}

main{
    padding: 15px 30px;
    background-color: var(--apricot);
}

img{
    width: 100%;
    max-width: 100%;
}